<!DOCTYPE html>
<html  lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
   
    <script src="app.js"></script>
    
    <title>Red Panda MatchDay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script><link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./src/css/style.css">
</head>
  <body ng-app='RedPandasPlayers'>
	
    <div class="container" ng-controller='PlayerController as pp'  >
		
		<br/>
    <h3 align="center"  class="display-3">All Players</h3>
      <br/>
		<div class="input-group">
		  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
		  	<input class="form-control bg-light text-dark" type="text" placeholder= "Please Search Here" ng-model="pp.search" width="80%"/>
		  </div>
		 
      <table width="80%" class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Name </th>
                <th scope="col"> Rate </th>
                <th scope="col"> Movement </th>
		    <th scope="col"> Position </th>
                <th scope="col"> total </th>
                <th scope="col"> checked </th>
            </tr>
          </thead>
    
          <tr ng-repeat="x in pp.players | filter : pp.search">
              <td>{{x.name}}</td>
              <td>{{x.strength}}</td>
              <td>{{x.movement}}</td>
		  <td>{{x.pose}}</td>
              <td>{{(x.strength *3 + x.movement )/2}}</td>
              <td><input id="{{x.name}}" type="checkbox" value="{{x}}" ng-checked="selection.indexOf(x) > -1" ng-click="pp.toggleSelection(x)"></td>
          </tr>
        </table>    

        
        
          <ol class="bg-success" style="text-align: center;">
            <h3 align="center"  class="display-3">Match Players</h3>
            <li ng-repeat="y in pp.matchPlayer">
              {{y.name}}  {{y.pose}}
            </li>
          </ol> 

      <input type="button" visible="false" data-ng-disabled="pp.matchPlayer.length == 0" class="btn btn-primary btn-lg btn-block" value="Teams with M&R" ng-click="pp.ganerate()"/>
      <input type="button" visible="false" data-ng-disabled="pp.matchPlayer.length == 0" class="btn btn-info btn-lg btn-block" value="Teams with M&R&P" ng-click="pp.newGanerate()"/>
      <input type="button" data-ng-disabled="pp.matchPlayer.length == 0" class="btn btn-danger btn-lg btn-block" value="Teams with only R" ng-click="pp.oldGanerate()"/>
      <input type="button" data-ng-disabled="pp.matchPlayer.length == 0" class="btn btn-warning btn-lg btn-block" value="Teams with only R&P" ng-click="pp.positionRateGanerate()"/>
      <div class="row">
        <div class="column">
          <h4 ng-if="pp.redTeam.length > 0">Team Strgenth = {{pp.redTeamStrength}}</h4>
              <ol class="bg-danger" style="text-align: center;">
                <h3 class="bg-danger" align="center"  class="display-3">Red Team</h3>
                <li ng-repeat="y in pp.redTeam">
                  {{y.name}}  
                </li>
              </ol> 
            </div>
        <div class="column">
          <h4 ng-if="pp.blueTeam.length > 0">Team Strgenth = {{pp.blueTeamStrength}}</h4>
          
          <ol class="bg-info" style="text-align: center;">
            <h3 class="bg-info" align="center" class="display-3">Blue Team</h3>
            <li ng-repeat="y in pp.blueTeam">
              {{y.name}} 
            </li>
          </ol>
         
          </div>
      </div>
          
        
    </div>
  </div>

  
  </body>
</html>
